body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.delete-btn {
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
